<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div id="app">
       ID:<input v-model="id">Name:<input v-model="name"><input type="button" @click="add" value="添加"><input v-model="searchKey">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in search(searchKey)" :key="index">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.Ctime | formatDate}}</td>
                    <td><a href="" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="js/vue-2.4.0.js"></script>
<script>
    Vue.filter('formatDate',function (arg) {
        let date = new Date(arg);
        // padStart(arg1,arg2) arg1:字符串长度为多少，arg2:字符串长度不够时用什么补充
        return `${date.getFullYear()}-${date.getMonth().toString().padStart(2,'0')}-${date.getDate().toString().padStart(2,'0')}`
    })
    var vm = new Vue({
        el: '#app',
        data: {
           id:null,
           name:null,
           searchKey:'',
           list:[
               {
                   id:1,
                   name:'bc',
                   Ctime:new Date()
               },{
                   id:2,
                   name:'bmw',
                   Ctime:new Date()
               }
           ]
        },
        methods:{
            add(){
                //判断添加的ID是否重复
                let idIsExist =  this.list.some(item => item.id == this.id)
                if(idIsExist){
                    alert("ID不能重复")
                    return;
                }
                this.list.push({id:this.id,name:this.name,Ctime:new Date()})
            },
            del(val){
                this.list.some((item,index) => {
                    if(item.id == val){
                        this.list.splice(index,1)
                        return;
                    }
                })
            },
            search(val){
                return this.list.filter(item => {
                    if(val == ''){
                        return item
                    }
                    if(item.name.includes(val)){
                        return val;
                    }
                })
            }
        }
    })
</script>
<style>

</style>
</html>
