<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div id="app">
        <input v-model="firstname">
        <input v-model="lastname"><br/>
        {{fullName}}
    </div>
</body>
<script src="js/vue-2.4.0.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            firstname:'damon',
            lastname:'cai'
        },
        computed:{ //computed中，可以定义一些属性，叫做【计算属性】，
                   //计算属性的本质就是一个方法，只不过，我们在使用这些计算属性的时候是把他们的名称直接当做属性来使用，并不会把计算属性，当作方法去调用
                   //注意1：计算属性，在引用的时候，一定不要加() 去调用，直接把他当作普通的属性去使用就好了
                   //注意2：只要计算属性，这个function中用到的人和data中的数据发生变化，就会立即重新计算这个计算属性的值
                   //注意3：计算属性的求值结果，会被缓存起来，方便下次直接使用；如果计算属性方法中，所以来的任何数据都没有发生过变化，则不会重新对计算属性求值
            fullName:function () {
                return this.firstname + '-' + this.lastname
            }
        }
    })
</script>
<style>

</style>
</html>
